.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.logo-sm {
  font-size: 25px;
  font-weight: bold;
  color: white;
}
.logo-lg {
  font-size: 25px;
  font-weight: bold;
  color: white;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Add this CSS to your stylesheet or component */
.delete-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: #ff0000; /* Red color */
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* White background with some transparency */
  padding: 5px;
  border-radius: 50%;
}

.delete-icon:hover {
  background-color: rgba(255, 0, 0, 0.8); /* Red background with more transparency on hover */
  color: #fff; /* White color on hover */
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
